body {
    text-align: center;
    margin: 0px;
    font-family: Helvetica Nue, sans-serif;
}

#content_holder {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    margin-top: 100px;
    margin-bottom: 25px;
    font-weight: lighter;
    color: #333;
    font-size: 55px;
    text-align: center;
}

#welcome {
    width: 700px;
    font-size: 20px;
    line-height: 1.5;
    color: #777;
}

table {
    margin-top: 25px;
    margin-left: 50px;
    width: 700px;
    text-align: left;
}

table p {
    font-size: 23px;
    color: #333;
    margin: 0px 0px 5px 0px;
}

table div {
    line-height: 1.5;
    color: #777;
}